.barreCollapse {
	position: relative;
	z-index: 1;
	background-color: $mainColor;
	color: white;
	font-size: 24px;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	padding: 10px 20px 10px 15px;
	.open {
		transition: rotate 300ms ease-out;
		rotate: -180deg;
	}
	.close {
		transition: rotate 300ms ease-out;
		rotate: 0deg;
	}
	@media screen and (max-width: 640px) {
		font-size: 18px;
		height: 32px;
		.arrow {
			transform: scale(0.9);
		}
	}
	@media screen and (max-width: 440px) {
		font-size: 13px;
		height: 30px;
		padding: 0px 10px 0px 15px;
		.arrow {
			transform: scale(0.8);
		}
	}
}

.content {
	color: black;
	border-radius: 10px 10px 5px 5px;
	background: rgba(#f6f6f6, 0.45);
	overflow: hidden;
	box-sizing: border-box;
	height: 100%;
	font-size: 18px;
	padding-top: 15px;
	&__logement {
		transition: transform 500ms ease-out, clip-path 500ms ease-out, height 500ms;
		&--open {
			height: 100%;
			transform: translateY(0%);
			clip-path: inset(0px 0px 0px 0px);
		}
		&--close {
			transform: translateY(-120%);
			clip-path: inset(120% 0px 0px 0px);
			height: 0;
		}
	}
	&__apropos {
		transition: transform 500ms ease-out, clip-path 500ms ease-out;
		&--open {
			height: 100%;
			transform: translateY(0%);
			clip-path: inset(0px 0px 0px 0px);
		}
		&--close {
			transform: translateY(-120%);
			clip-path: inset(100% 0px 0px 0px);
			height: 0;
		}
	}
	@media screen and (max-width: 640px) {
		font-size: 16px;
	}
	@media screen and (max-width: 440px) {
		width: 100%;
		font-size: 14px;
		padding-top: 7px;
	}
}

.Width-logement {
	max-width: 582px;
	width: 100%;
	.logement {
		height: 20px;
		font-size: 16px;
	}
	@media screen and (max-width: 440px) {
		.logement {
			height: 32px;
		}
	}
}

.equipItem {
	margin: 0;
	padding: 0;
}
