header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: 45px;
	height: 68px;

	@media screen and (max-width: 640px) {
		height: 60px;
		.header__img {
			width: 175px;
		}
	}
	@media screen and (max-width: 376px) {
		width: 335px;
		height: 46.88px;
		margin-top: 20px;
		.header__img {
			width: 145px;
		}
	}
}
