.containerGrid {
	padding: 0px 56px 56px 56px;
	border-radius: 25px;
	background-color: #f6f6f6;
	margin-bottom: 50px;
	&__Grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 37px;
	}

	@media screen and (max-width: 900px) {
		padding: 0px 30px 30px 30px;
		&__Grid {
			grid-template-columns: 1fr 1fr;
			column-gap: 30px;
		}
	}

	@media screen and (max-width: 900px) {
		padding: 0px 20px 20px 20px;
		&__Grid {
			column-gap: 20px;
		}
	}

	@media screen and (max-width: 440px) {
		padding: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: white;
		&__Grid {
			grid-template-columns: 1fr;
			row-gap: 20px;
			column-gap: 0px;
		}
	}
}
