.Navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
	gap: 18.5%;
	width: 309px;
	a {
		color: black;
		text-decoration: none;
		&.nav-active {
			text-decoration: underline;
		}
	}
	@media screen and (max-width: 640px) {
		font-size: 18px;
		width: 230px;
		justify-content: flex-end;
	}
	@media screen and (max-width: 440px) {
		font-size: 12px;
		gap: 26px;
	}
}
