.pageError {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__link {
		font-size: 18px;
		color: black;
		margin-bottom: 139px;
	}
	&__h2 {
		font-size: 36px;
		font-weight: 500;
		margin-bottom: 139px;
		text-align: center;
		&__span {
			display: inline;
		}
	}
	&__P {
		font-size: 288px;
		font-weight: 700;
		margin: 100px 0;
	}
	@media screen and (max-width: 375px) {
		&__link {
			font-size: 14px;
		}
		&__h2 {
			font-size: 18px;
			&__span {
				display: block;
			}
		}
		&__P {
			font-size: 96px;
		}
	}
}
