.containerSlide {
	height: 500px;
}
.picture {
	margin-top: 50px;
	margin-bottom: 30px;
	height: 415px;
	border-radius: 25px;
	width: 100%;
	object-fit: cover;
	position: relative;
	z-index: 0;
}
.number {
	color: white;
	position: relative;
	z-index: 1;
	bottom: 185px;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 25px;
}

.next,
.prewiew {
	cursor: pointer;
	position: relative;
	z-index: 1;
	bottom: 300px;
}

.next {
	left: min(calc(1240px - 122px), calc(100vw - 174px));
}
.prewiew {
	left: 26px;
}
@media screen and (max-width: 1000px) {
	.next,
	.prewiew {
		bottom: 270px;
		height: 60px;
	}
	.next {
		left: calc(100vw - 150px);
	}
}
@media screen and (max-width: 640px) {
	.containerSlide {
		height: 255px;
		margin: 20px 0;
	}
	.picture {
		margin: 0;
		height: 255px;
	}
	.number {
		bottom: 70px;
		font-size: 12px;
	}
	.next,
	.prewiew {
		bottom: 150px;
		height: 20px;
	}
	.prewiew {
		left: 16px;
	}
	.next {
		left: calc(100vw - 76px);
	}
}
@media screen and (max-width: 440px) {
	.number {
		display: none;
	}
}
